<section style="display: flex; justify-content: space-around; padding: .75rem 0; background-color: #000;">
    <a href="{{ url(language_selector.current) }}/privacy-policy">Politique de confidentialité</a>
    <a href="{{ url(language_selector.current) }}/sitemap.xml">Plan du site</a>
</section>
<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><a href="">Accrobranché</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i>
            by <span class="text-primary">Michaël LEMAY</span> and <span class="text-primary">Pierre BEUSELINCK</span>.</p>
    </section>
</section>
