<div class="tile tile-centered" style="padding: .8rem;">
    <div class="tile-title col-4 col-sm-12">
            {% include 'partials/blog/date.html.twig' %}
    </div>
    <div class="tile-content col-4 col-sm-12 text-center">
        <p class="m-0">{{ page.title }}</p>
    </div>
    <div class="tile-action col-4 col-sm-12 text-center">
        <a href="{{ page.url }}" class="btn btn-success">Voir l'évènement</a>
    </div>
</div>

