{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}

    <section class="container-fluid modular-banner {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}" {% if image %}style="background-image: url('{{ image.url|raw }}');"{% endif %}>
            <div class="column">
                {{ content|raw }}
            </div>
        </div>
    </section>