{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}

<style>
    .modular-banner > .columns {
        background-repeat: round;
        width: 100%;
        min-height: 150px;
    }
    .modular-banner > .columns > .column {
        max-height: 150px;
        overflow: hidden;
    }
    .modular-banner h2 {
        color: #FFFFFF;
        width: 35%;
        padding: 0 0 0 4%;
        margin: 10px 0 10px 0;
        font-size: 2.75em;
        line-height: 1.23em;
        box-sizing: border-box;
    }
    .modular-banner p {
        color: #FFFFFF;
        text-align: center;
        margin: 0;
        box-sizing: border-box;
    }
    .modular-banner p > a {
        color: #FFFFFF;
    }
    @media (max-width:840px) {
        .modular-banner h2 {
            margin-bottom: 30px;
        }
    }
</style>
    <section class="container-fluid modular-banner {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}" {% if image %}style="background-image: url('{{ image.url|raw }}');"{% endif %}>
            <div class="column">
                {{ content|raw }}
            </div>
        </div>
    </section>